<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.fuzuapp.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroServlet</servlet-name>
        <servlet-class>com.fuzuapp.controller.CadastroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultadosServlet</servlet-name>
        <servlet-class>com.fuzuapp.controller.ResultadosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavoritosServlet</servlet-name>
        <servlet-class>com.fuzuapp.controller.FavoritosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltrarPosicaoServlet</servlet-name>
        <servlet-class>com.fuzuapp.controller.FiltrarPosicaoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroServlet</servlet-name>
        <url-pattern>/cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultadosServlet</servlet-name>
        <url-pattern>/resultados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavoritosServlet</servlet-name>
        <url-pattern>/favoritos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltrarPosicaoServlet</servlet-name>
        <url-pattern>/filtrar_posicao</url-pattern>
    </servlet-mapping>

</web-app>
